# Ignore all images except example.png
images/*
!images/example.png

# Ignore all results except example
results/recent/*
results/library/*
!results/library/example/
!results/library/example/**

__pycache__
assets/line_profiles*
.DS_Store
